@media all{
    /****** auto-complete ******/

  input[type=search].ui-autocomplete-loading {
    background: white url('../images/ui-anim_basic_16x16.gif') right center no-repeat;
  }

  div.auto_complete {
    width: 350px;
    background: #fff;
  }

  div.auto_complete ul {
    border: 1px solid #888;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
  }

  div.auto_complete ul li {
    margin: 0;
    padding: 3px;
  }

  div.auto_complete ul li.selected {
    background-color: #ffb;

  }

  div.auto_complete ul strong.highlight {
    color: #800;
    margin: 0;
    padding: 0;
  }

  .auto_complete_identifier {
    color: #79a;
  }

  .tit_aq {
    position: absolute;
    left: 10px;
    top: 1px;
    width: 123px;
    height: 48px;
    font-size: 34px;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

  .input1 {
    position: relative;
    left: 10px;
    top: 15px;
    width: 300px;
    height: 17px;
    background-color: #9cb1de;
    z-index: 6;
  }

  .input2 {
    position: relative;
    left: 10px;
    top: 15px;
    width: 300px;
    height: 17px;
    background-color: #9cb1de;
    z-index: 6;
  }


  input {
    z-index: 9;
  }

  .ui-autocomplete ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .ui-autocomplete li {
    margin: 0px;
    padding: 2px 5px;
    cursor: default;
    display: block;
    /* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
    /*width: 100%;*/
    font: menu;
    font-size: 12px;
    /* 
	it is very important, if line-height not set 
	or in relative units scroll will be broken in firefox
	*/
    line-height: 16px;
    overflow: hidden;
  }

  .ui-autocomplete li.ui-autocomplete-category {
    background: none repeat scroll 0 0 transparent;
    border-top: 2px dotted #fafcff;
    color: #fff;
    float: right;
    font-weight: bold;
    letter-spacing: 0.1em;
    margin-bottom: -20px;
    text-align: right;
    text-transform: uppercase;
    width: 97%;
  }

  .ui-autocomplete li.ui-autocomplete-category:first-child {
    border-top: 0px none;
  }

  .ac_odd {
    background-color: #eee;
  }

  .ac_over {
    background-color: #0A246A;
    color: white;
  }

  .ui-widget-content,
  .ui-widget-header {
    border: 0 none;
    color: inherit;
    font-weight: normal;
  }

  span#tabs.aquaria .ui-widget-content,
  .ui-widget-header {
    background: none;
  }

  .ui-widget {
    font-family: inherit;
    font-size: 103%;
  }

  .ui-state-default a,
  .ui-state-default a:link,
  .ui-state-default a:visited {
    color: #666;
  }

  .ui-state-active,
  .ui-widget-content .ui-state-active,
  .ui-widget-header .ui-state-active,
  .ui-state-default,
  .ui-widget-content .ui-state-default,
  .ui-widget-header .ui-state-default {
    font-weight: normal;
    border: 0px none;
    color: #FFF;

  }

  .ui-state-active a,
  .ui-state-active a:link,
  .ui-state-active a:visited {
    color: #FFF;
  }

  .ui-state-active a:hover {
    color: orange;
  }

  li.ui-menu-item.ui-state-focus {
    background: transparent url(../images/white50.png);
    border-color: #bcd;
    letter-spacing: -0.035em;
  }

  .safari li.ui-menu-item.ui-state-focus {
    font-weight: normal;
    letter-spacing: normal;
  }

  .ui-widget-content {
    background: #BBDDEE none;
  }

  .ui-tabs .ui-tabs-nav li a {
    padding: 0.1em;
    border-left: 1px solid #888;
  }

  .ui-tabs .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: 0;
    padding: 0;
  }

  .ui-corner-all,
  .ui-corner-top,
  .ui-corner-left,
  .ui-corner-tl {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  .ui-tabs .ui-tabs-panel {
    padding: 0;
  }

  .ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: 0;
  }

  span#tabs {
    background: transparent none;
  }

  p#scrollToggle {
    padding-right: 12px;
    text-align: right;
  }


  .aquariaWarning {
    position: absolute;
    top: 50px;
    left: 30%;
    /* 	background: url(../images/aquaria-logo.png) no-repeat center 12px  #FAC88C; 95ACE4 */
    background: #FAC88C;
    border: 15px solid transparent;
    border-image: url(../images/border-1.png) 15 15 round;
    margin: 12px auto;
    width: 40%;
    padding: 20px 20px 14px 20px;
    text-align: left;
    box-shadow: 6px 6px 15px #669;
    z-index: 999;
  }

  #updateJava3D {
    display: none;
  }

  .aquariaWarning,
  .aquariaWarning button {
    font-size: 105%;
  }


  div#tree_helper {
    top: -152px;
    left: 135px;
  }

  div.chardinjs-tooltiptext a {
    color: #9DF;
    display: none;
  }

  div.chardinjs-tooltiptext h2 {
    color: #333;
  }

  #helptable {
    border-spacing: 00px;
    border-collapse: separate;
  }

  #helptable td {
    padding: 15px;
    vertical-align: top;
  }

  div.bg_helpdoc {
    background: #579;
    border-radius: 5px;
    padding: 6px 0 12px 10px;
    width: 200%;
  }

  /* bring items close together */
  .bg_helpdoc h2,
  .bg_helpdoc p {
    margin: 0;
    padding: 0;
    bottom: 0;
  }

  /* add space between each group of items */
  .bg_helpdoc h2 {
    padding-top: 8px;
  }

  div.ruler {
    margin-bottom: 2px;
  }

  div[data-id="titleBar3Dview"].chardinjs-helper-layer.chardinjs-bottom {
    border-bottom: 0 none;
  }

  div[data-id="titleBar3Dview"] .chardinjs-tooltip.chardinjs-bottom::before {
    height: 0;
    width: 0;
  }

  div[data-id="structurematches"].chardinjs-helper-layer.chardinjs-top {
    border-top: 0 none;
  }

  div[data-id="structurematches"] .chardinjs-tooltip.chardinjs-top:after {
    height: 0;
    width: 0;
    display: none;
  }
}